*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Shared styles */

.inter-font{
    font-family: "Inter", sans-serif;
  }
  
.bg-color{
    background-color:  black;

    /* background-image: linear-gradient(black,#232323 ); */
    /* background-color: #1c1c1c; */
   
}
.fitness{
    color: rgb(230, 83, 60) ;
    font-size: 2.25rem;
    font-weight: 800;
}
.common-sz{
    font-size: 1.125rem;
    font-weight: 800;
}
.text-color{
    color: rgb(255, 255, 255);
}


.btn-home{
    background-color:  rgb(230, 83, 60) ;
    color: rgb(255, 255, 255);
    border-radius: 16px;
    
    text-align: center;
}
.general-structure{
    width: 100%;
    height: auto;
    /* background-color: black; */
    /* border: 2px solid red; */
}
.content-container{
    width: 80%;
    margin: 0 auto;
}
.pg-color{
    color: rgba(255, 255, 255, 0.5);
}
.p-sz{
    font-size: .88rem;
    font-weight: 400;
}
#banner-pg{
    margin-top: 20px;
    margin-bottom: 10px;
}
.sec-tittle-sz{
    font-size: 3rem;
    font-weight: 900;
}
.pg-pos{
    margin-top: 20px;
    margin-bottom: 30px;
}
.btn-common{
    background-color:  rgb(230, 83, 60) ;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 1.125rem;
    font-weight: 600px;
    
}
.section-p-margin{
    margin-top: 20px;
    
}

/* Shared styles end */



/* Header styles starts */


.nav-container{
     /* border: 2px solid darkmagenta; */
     margin-top: 0;
     padding-top: 40px;
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: repeat(2,1fr); */
    /* grid-template-columns: .6fr .4fr; */
    align-items: center; 
    /* background-color: black;  */
    
}


.menu >p{
    padding: 5px;
}
.menu{
    display: flex;
    /* justify-content: flex-end; */
    gap: 40px;
    border: 1px solid #383838;
    border-radius: 16px;
    margin-right: 0px;
    /* background-color: cornflowerblue; */
    /* width: 420px; */
    /* max-width: 420px; */
    padding: 1px;
    /* margin-left: -10px; */
    /* border: 2px solid red; */

    cursor: pointer;

}
.menubar{
    display: none;
}
.header-container{
    /* background-color: black;
    background-color: #232323; */
    /* background-color: #232323; */
     /* background-color: #1c1c1c; */
    
     width: 100%;
     height: auto;
     margin-top: 0;
     background-image: linear-gradient(#232323,black);
     /* border: 2px solid red; */
    

}
/* Header styles ends */
/* Banner styles starts */
.banner-tittle-sz{
    font-size: 4.8rem;
    font-weight: 900;
}
#banner-pg{
    width: auto;
    height: auto;
    /* border: 2px solid red; */
    /* text-align: left; */
    padding:10px;
}
.join-btn{
  
    background-color:  rgb(230, 83, 60) ;
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;

}
.download-btn{
    background-color: black;
    color: rgb(255, 255, 255);
    
    width: auto;
    height: auto;
    padding: 10px;
    border: 1px solid white;
    margin-left: 10px;
    border-radius: 10px;
}
.banner-btn-container{
    display: flex;
}
.play-icon-for-desktop{
    position: absolute;
    top:235px;
}
.play-icon-for-desktop >img{
    width: 45px;
    height: 55px; 
    /* background-color: red; */
    /* border: 2px solid red; */
}

.bol{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:  rgb(230, 83, 60);
    margin-left: 5px;
}
.play-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    /* border: 1px solid red; */
    /* padding: 5px; */
    margin-left: 10px;
    margin-right: 10px;
    
 }
 .play-icon >img{
  width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
 }
.banner-right{
    position: relative;
    /* background-image: url('../images/bannerRight.png');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat; */
    width: auto;
    height: auto;
    /* border: 2px solid red; */
    margin-left: 60px;
}
.banner-right >img{
    padding-left: 60px;
}
/* .playicon{
    position: absolute;
    top: 300px;
} */


 .card-tutorial{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    /* border: 1px solid white; */
    width: 11rem;
    height: 5.625rem;
    /* top: 450px;
    left: -15px; */
    top: 70%;
    left: 1%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
    padding: 10px;
    
    
}



.card-workout{
        
    /* left: 250px; */
    position: absolute;
    /* top: 90px; */
    /* transform: translateX(180%); */
    top: 30%;
    left: 70%;
    
    width: 11rem;
    height: 5rem;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
    
    
}
.text500{
    font-size: 2.2rem;
    font-weight: 900;
}
.text350{
    font-size: 1.3rem;
    font-weight: 900;
}
.text-work-out{
    font-size: .875rem;
    font-weight: 400;
}
.text-video-tutorial{
    font-size: 1rem;
    font-weight: 400;
}

.banner-container{
    display: grid;
    /* grid-template-columns: repeat(2,1fr); */
    grid-template-columns: .6fr .4fr;
    align-items: center;  
    /* border: 2px solid blue; */
    margin-top: 20px;
}
/* Banner styles ends */


/* Change your habits styles starts */

.change-your-habits-container{
    /* margin-top: 90px; */
    margin-top: 100px;
    /* border: 2px solid red; */
}

.habits-heading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.habits-heading-container > p{
    text-align: center;
}

.habits-card-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    /* margin-left: -57px; */
}
.habits-card{
     display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
   
}
.habits-card >img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid rgb(34,34,34);
    
}
.habits-card >h4{
    margin-top: 30px;
    margin-bottom: 10px;
}
.habits-card >p{
   text-align: center;
}
/* change your habits styles ends */

/* Run an extra mile styles starts */
.run-an-extra-mile-container{
    /* border: 2px solid blue; */
    background-color: rgb(34,34,34);
    border-radius: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-top: 90px;
}
.run-an-extra-mile-container > img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}
.run-an-extra-mile-left{
    /* border: 2px solid red; */
    padding-left: 10px;
    padding-top: 10px;
}

/* Run an extra mile styles ends */

/* Achieve your goals styles starts */
.power-sz{
    font-size: .8rem;
    font-weight: 400;
    line-height: 20px;

}
.achieve-your-fitness-goals-with-us-container
{
    /* width: 90%;
    margin: 0 auto; */

    /* width: 100%; */
    margin-top: 100px;
    /* border: 2px solid blue; */

    padding-top: 40px;
 
    background-color: rgb(34,34,34);
    padding-bottom: 60px;
}
.achieve-row-container{
    margin-top: 60px;
    /* border: 2px solid red; */
}
.achieve-heading-sz{
    /* font-size: 2rem;
    font-weight: 900; */
    font-size: 2.125rem;
    font-weight: 800;
    padding: 10px;
}
.achieve-row-1, .achieve-row-2, .achieve-row-3, 
.achieve-row-4, .achieve-row-5, .achieve-row-6 
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.achieve-row-1 > img{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}
.achieve-row-2 > img{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}
.achieve-row-3 > img{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}
.achieve-row-4 > img{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}
.achieve-row-5 > img{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}
.achieve-row-6 > img{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}
.summary-container{
    margin-top: 30px;
    border-left: 3px solid white;
    padding: 20px;
    margin-left: 20px;
    
}
.summary-sz{
    font-size: 1rem;
    font-weight: 600;
}
.achieve-card{
    position: relative;
}
.goal-naming1{
    position: absolute;
    left: 5%;
    top:85%;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.goal-naming2{
    position: absolute;
    left: 70%;
    top:20%;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.goal-naming3{
    position: absolute;
    left: 5%;
    top:85%;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.goal-naming4{
    position: absolute;
    left: 60%;
    top:70%;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.goal-naming5{
    position: absolute;
    left: 10%;
    top:60%;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.goal-naming6{
    position: absolute;
    left: 10%;
    top:70%;
    color: white;
    font-size: 18px;
    font-weight: 400;
}


/* BMI Calculator Heading styles starts */

.bmi-calculator-heading{

    padding-left: 150px;
    /* border: 2px solid red; */
    padding-top: 50px;
    padding-bottom: 50px;
}
.bmi-h3-sz{
    font-size: 1.75rem;
    font-weight: 900;
}
/* BMI Calculator Heading styles ends */
.challenging-container{
    margin-top: 20px;
    width: 100%;
    height: auto;
    /* background-color: rgb(34,34,34); */
    background-color:  #222222;
    /* border: 2px solid red; */
}
/* BMI Calculator Chart styles starts */
.table-form-header-sz{
    font-size: 1.55rem;
    font-weight: 900;  
}
.bmi-calculator-chart-container{
    /* width: 100%;
    height: auto; */
    background-color: rgb(34,34,34);
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: 50% 50%;
    /* border: 2px solid blue; */
    padding-top: 40px;
    padding-bottom: 40px;
    /* border: 2px solid red; */
   
    
}
.bmi-calculator-chart{
    
    background-color: rgb(34,34,34); 
    /* border: 2px solid green; */
}
.bmi-chart-table{
    border-collapse: collapse;
    width: 70%;
   
}
td{
    border: 2px solid #383838;
    padding: 10px;
}
/* BMI Calculator chart styles ends */
/* Calculate your bmi styles starts */
.calculate-your-bmi{
    
    background-color: rgb(34,34,34);  
    /* border: 2px solid green; */
}
.calculate-bmi{
    margin-top: 20px;
    /* margin-bottom: 30px; */
}
#btn-calculate{
    margin-top: 20px;
}

#calculate-bmi-p{
   margin-top: 16px;
}
#calculate-bmi-chart-margin{
    margin-top: 16px;
}
.height1{
    grid-area: height1;
    height: 40px;
    width: 100%;
}
.weight1{
    grid-area: weight1;
    height: 40px;
    width: 100%;

}
.sex{
    grid-area: sex;
    height: 40px;
    width: 100%;

}

.age{
    grid-area: age;
    height: 40px;
}
.activity1{
    grid-area: activity1;
    height: 40px;
    width: 100%;
}
tbody >tr >td{
    color: #5d5d5d;
}
.calculate-bmi-input-container{
    display: grid;
    grid-template-areas:
    "height1 weight1"
    "age sex"
    "activity1 activity1" 
    ;
    gap:10px;
}
.calculate-bmi-input-container > input, select{
    border-radius: 7px;
    padding-left: 10px;
    background-color: #383838;
  
    border: none;
    outline: none;
  
}
.sex,.activity1{
    border-radius: 7px;
    padding-left: 10px;
    background-color: #383838;
  
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 30px; */
    /* color: white; */
}

.activity1{
    position: relative;
    /* border: 2px solid green; */
    
}
 input{

    background-color: #383838;
    border: none;
    outline: none;
    

}

  
  
input::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-size: .87rem;
    font-weight: 400;
    /* border: 2px solid blue; */
    /* height: auto; */
    
} 
 .span-level{
    color: rgba(255, 255, 255, 0.6);
    font-size: .87rem;
    font-weight: 400;
 }

 select {
        outline: none;
        border: none;
        background-color: #383838;
        color: rgba(255, 255, 255, 0.6);
        margin-right: 20px;
 }



  
 



/* BMI Calculator Chart styles ends */

/* Meet out team styles starts */
.meet-our-team-container{
    margin-bottom: 60px;
    /* border: 2px solid blue; */
}
.team-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    background-color: rgb(34,34,34);
    gap:10px; 
    padding: 10px;
    border-radius: 20px;
}
.team-card{
    /* width: 300px;
    height: 300px; */
    
    position: relative;
}
.team-card >img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 5px solid rgb(34,34,34);
    
}
.trainer-naming{
    position: absolute;
    left: 20px;
    top:80%;
}
/* Meet our team styles ends */

/* Footer styles starts */
.footer-container{
    background-color:rgb(34,34,34);
    /* border: 2px solid blue; */

}
.footer-content{
    background-color:rgb(34,34,34);
    /* border: 2px solid blue;  */
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
}

.footer-right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.get-start-h3-sz{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.get-started-pg{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}
.footer-pg{
    padding-right: 20px;
    text-align: left;
    width: 70%;
    margin-top: 20px;
}

.footer-copyright{
    background-color:rgb(34,34,34);

}
#footer-hr{
    /* color: white;
    background-color:rgb(34,34,34); */
    /* color: rgba(125, 123, 123, 0.5); */
    color: #383838;
   
    /* color: #303030; */
}
#footer-h3{
    text-align: center;
    padding: 30px;
}
img{
    width: 100%;
    height: 100%;
}

.play-icon{
    display: none;
}
.text-video-tutorial{
    font-size: 1rem;
    font-weight: 400;
}

/* Creating Responsive for mobile devices */
@media screen and (max-width:576px){


    .content-container{
        border: none;
    }

    .menu{
        display: none;
    }
    .menubar{
        display: block;
    }
    .content-container{
        width: 90%;
        margin: 0 auto;
        /* margin-top: 50px; */
        /* margin-left: 20px;
        margin-right: 20px; */
        /* background-color: black;  */
        /* you have to check the background color for the specific section" */
        /* border: 2px solid red;  */
    }
  
    .banner-right{
        margin-top: 40px;
        margin-left: -40px;
    }

    .banner-tittle-sz{
        font-size: 2.5rem;
        font-weight: 900;
    }
    .sec-tittle-sz{
        font-size: 2rem;
        font-weight: 900;
    }
    .play-icon-for-desktop{
        display: none;
    }
    .play-icon{
        display: block;
    }
    .bol {
        display: none;
    }
   
    .text500{
        font-size: 1rem;
        font-weight: 900;
    }
    .text350{
        font-size: .8rem;
        font-weight: 900;
    }
    .text-work-out{
        font-size: .5rem;
        font-weight: 400;
    }
   
    .text-video-tutorial{
        font-size: .8rem;
        font-weight: 400;
    }
    .card-tutorial{
        
        /* width: 170px;
        height: 80px; */
        width: 10rem;
        height: 4.625rem;
        /* top: 27rem;
        /* left: -.1rem; */
       /* left: 40px;  */
       top: 50%;
       left: 10%;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        backdrop-filter: blur(10px);
        background: rgba(48, 48, 48, 0.54);
        padding: 10px;
        /* border: 2px solid red; */
        
        
    }

    .card-workout{
        
        /* left: 250px; */
        position: absolute;
        /* top: 90px;
        transform: translateX(40%); */
        top: 10%;
        left: 60%;
        
        width: 9rem;
        height: 4rem;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        backdrop-filter: blur(10px);
        background: rgba(48, 48, 48, 0.54);
        /* text-align: center; */
        padding-left: 20px;
        
        
    }
    
    .banner-container{
        margin-top: 30px;
    }
    

    .banner-container,
    .habits-card-container
    {
        grid-template-columns: 1fr;
    }
    .habits-heading-container{
        margin-top: 30px;
    }
    .run-an-extra-mile-container{
        background-color: rgb(34,34,34);
        grid-template-columns: 1fr;
        gap:40px;
        margin-top: 100px;
    }
    .achieve-heading-sz{
        /* font-size: 2rem;
        font-weight: 900; */
        font-size: 2rem;
        font-weight: 800;
        padding: 10px;
    }
    .achieve-your-fitness-goals-with-us-container{
        margin-top: 100px;
    }
    .achieve-row-1, .achieve-row-2{
        grid-template-columns: 1fr;
    }
    
    .challenging-container{
        margin-bottom: 20px;
        /* width: 100%;
        height: auto; */
        background-color: rgb(34,34,34); 
        /* border: 2px solid red; */
        width:100%;
        /* background-color: goldenrod; */
    }
    .bmi-calculator-heading{
        padding-left: 0;
    }
    .bmi-calculator-chart-container
    {
        grid-template-columns: 1fr;
        gap:50px;
        background-color: rgb(34,34,34); 
        
    }
    /* .meet-our-team-container{
        margin-top: 40px;
    } */
    .team-container{
        grid-template-columns: 1fr;
    }
    .footer-content{
        grid-template-columns: 1fr;
        gap:20px;
    }
    .footer-right{
        grid-template-columns: 1fr;
    }
    .footer-container{
        margin-top: 60px;
    }
    .footer-content,.footer-copyright{
        background-color:rgb(34,34,34);
    }
    .sec-tittle-sz{
        font-size: 2rem;
        font-weight: 900;
    }
}
/* Responsive for medium devices */
@media screen and (min-width:577px) and (max-width: 992px) {
 
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .content-container{
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        /* margin-top: 50px;
        margin-left: 150px;
        margin-right: 150px; */
        background-color: black; /*you have to check the background color for the specific section" */
        /* border: 2px solid red; */
    }
    .banner-tittle-sz{
        font-size: 2rem;
    }
    .common-sz{
        font-size: 16px;
    }
    .fitness{
        font-size: 30px;
    }
    .menu{
        display: flex;
        /* justify-content: flex-end; */
        /* gap: 40px; */
        gap:10px;
        border: 1px solid rgb(34,34,34);
        border-radius: 16px;
        margin-right: 0px;
        /* background-color: cornflowerblue; */
        width: auto;
        padding: 1px;
        /* margin-left: -10px; */
        /* border: 2px solid red; */
    
    }

    .banner-container{
        grid-template-columns: 1fr;
        align-items: stretch;  
        /* display: none; */
    }
    .banner-right{
        margin-top: 50px;
    }
    .banner-left{
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        /* border: 2px solid red; */
    }

    .banner-btn-container{
        display: flex;
    }
    .habits-card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .goal-naming1,.goal-naming3, .goal-naming4{
        top:80%;
        left:10%; 
    }
    .goal-naming6{
        top:80%;
        left:60%;
    }
    .bmi-calculator-chart-container{
        background-color: rgb(34,34,34);
        grid-template-columns: 1fr;
    }
    .trainer-name-sz{
        font-size: 14px;
    }
    .trainer-tittle-sz{
        font-size: 10px;
    }
    .trainer-naming{
        top:70%;
    }
    .footer-content{
        background-color: rgb(34,34,34);
        grid-template-columns: 1fr;
    }
    .footer-right{
        margin-top: 20px;
    }
    
}






