
*{
    box-sizing: border-box;
}
/* Shared styles */
.inter-font{
  font-family: "Inter", sans-serif;
}

.bg-color{
    background-color:  black;
}
.fitness-bg-color{
    color: rgb(230, 83, 60) ;
}

.heading-color{
    color: rgb(255, 255, 255);
}
.join-btn{
  
    background-color:  rgb(230, 83, 60) ;
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;

}
.download-btn{
    background-color: black;
    color: rgb(255, 255, 255);
    
    width: auto;
    height: auto;
    padding: 10px;
    border: 1px solid white;
    margin-left: 10px;
    border-radius: 10px;
}
.btn-primary{
    background-color:  rgb(230, 83, 60) ;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center
}
.pg-color{
    color: rgba(255, 255, 255, 0.5);
}
.fitness-sz{
    font-size: 2.25rem;
    font-weight: 800;
}
.common-sz{
    font-size: 1.13rem;
    font-weight: 600;
}
.banner-tittle-sz{
    font-size: 4.8rem;
    font-weight: 900;
}
.sec-tittle-sz{
    font-size: 3rem;
    font-weight: 900;
}
.p-sz{
    font-size: 0.88rem;
    font-weight: 400;
}
.bmi-h3-sz{
    font-size: 1.75rem;
    font-weight: 900;
}
.footer-h3-sz{
    font-size: 4.38rem;
    font-weight: 800;
}
.getstart-h3-sz{
    font-size: 2rem;
    font-weight: 700;
}
.footer-link-sz{
    font-size: 1.44rem;
    font-weight: 400;
}
/* Shared styles end */

/* Navbar starts */
.nav-container{
    width:90%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.menu{
    display: flex;
    gap:40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding-left: 0px;
}
.menubar{
    display: none;
}
/* Navbar styles ends */

/* Banner section styles starts */
.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
  }
  
.banner-container{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    /* height: auto; */
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.banner-left{
    width: auto;
    height: auto;
    /* border: 2px solid red; */
}
.banner-left h3{
    margin-top: 0;
    margin-bottom: 0px;
}
.banner-left p{
    margin-top: 20px;
    margin-bottom: 20px;
}
#tutorial{
    backdrop-filter: blur(20px);
    border: 2px solid white;
    width: 100px;
    height: 60px;
    text-align: center;
}
.bol{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:  rgb(230, 83, 60)
}
.banner-right{
    position: relative;
    background-image: url('../images/bannerRight.png');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
}
 .card-tutorial{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    /* border: 1px solid white; */
    width: 150px;
    height: 60px;
    top:360px;
    left: -80px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
    padding: 10px;
    
}
.card-workout{
    position: absolute;
    border: 1px solid white;
    width: 160px;
    height: 60px;
    left: 500px;
    top: 100px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
    padding: 10px;
    
} 


